<h4>APIs description</h4>
WMArchive is a RESTful service, therefore clients can use any tool/language
to contact the service and use GET/POST HTTP requests to retrive or post their data.
Below we provide examples for curl and python clients.

<hr />

<h5>Curl client</h5>
POST request:<br/>
<div><pre class="alert alert-success">
# define some parameters
OUT=/dev/stdout
HEADERS="Content-type: application/json"
URL=http://hostname:port/wmarchive/data

# single document injection, POST request
curl -D $OUT -X POST -H $HEADERS -d file.json $URL
</pre></div>

GET request:<br/>
<div><pre class="alert-success alert">
# single document retrieval, GET request for provided UID
curl -D $OUT -H $HEADERS $URL/UID

# multiple documents retrieval, POST request with query for known UID’s
curl -D $OUT -X POST -H $HEADERS -d '{"query":["UID1", "UID2]}' $URL

# document search, POST request with MongoDB Query Language
curl -D $OUT -X POST -H $HEADERS -d '{"query":{"fwjr.task":"TaskName"}}' $URL
</pre></div>

<h5>Python client</h5>
<div><pre class="alert alert-success">
import os, json, httplib

# get connection to our service
conn = httplib.HTTPConnection(host, port)

# prepare some data to upload to WMArchive
record = json.load(open(jsonFile))
docs = []

# create fake records to show the load
for idx in range(10):
     rec = dict(record)
     rec[“rev”] = str(idx)*3 # fake field
     docs.append(rec)
data = dict(data=docs) # our data consists of series of records

# post series of docs to WMArchive
headers = {"Content-type": "application/json", "Accept":"application/json"}
path = "/wmarchive/data"
conn.request("POST", path, json.dumps(data), headers)

# get data from WMArchive
query = dict(query={"fwjr.task":"/path/task/Name"}) # MongoDB QUERY
conn.request("POST", path, json.dumps(query), headers)
response = conn.getresponse()
print("STATUS", response.status, "REASON", response.reason)

# read our results
res = response.read()
data = json.loads(res)
</pre></div>
