<!DOCTYPE html>
<html lang="en">
<head>
    <title>WMArchive data-service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/wmarchive/web/static/css/main.css" />
</head>
<body>

  <header id="site-header">
    <div class="container">
      <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="/wmarchive/web"><img id="logo-header" src="/wmarchive/web/static/images/cms-logo.png"></a>
        <a class="navbar-brand" href="/wmarchive/web">CMS WMArchive Data Service</a>
        <ul class="nav navbar-nav nav-pills pull-xs-right" id="nav-main-container">
          <!-- nav-main.js -->
        </ul>
      </nav>
    </div>
  </header>

  <section id="main">
    <!-- Main Content -->
  </section>

  <footer id="site-footer"><!-- footer.js --></footer>


  <!-- Dependencies -->

  <!-- jQuery -->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>

  <!-- [Backbone.js](http://backbonejs.org) -->
  <script type="text/javascript" src="//underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="//backbonejs.org/backbone-min.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="/wmarchive/web/static/js/utils/tether.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/utils/bootstrap.js"></script>

  <!-- [Bootstrap DateRangePicker](https://github.com/dangrossman/bootstrap-daterangepicker) -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <!-- Typeahead -->
  <script type="text/javascript" src="//twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>

  <!-- [D3.js](https://d3js.org) -->
  <script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>

  <!-- Numeral -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>


  <!-- Application -->

  <!-- Models -->
  <script type="text/javascript" src="/wmarchive/web/static/js/models/scope.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/models/visualization.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/models/visualizations.js"></script>

  <!-- Utils -->
  <script type="text/javascript" src="/wmarchive/web/static/js/utils/format.js"></script>

  <!-- Views -->
  <script type="text/javascript" src="/wmarchive/web/static/js/views/nav-main.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/filter.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/add-filter-button.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/timeframe-selector.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/scope.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/metrics.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/metric-selector.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/footer.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/status.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/jobs.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/performance.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/views/info.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/visualizations/default.js"></script>
  <script type="text/javascript" src="/wmarchive/web/static/js/visualizations/time.js"></script>

  <!-- Router -->
  <script type="text/javascript" src="/wmarchive/web/static/js/routers/router.js"></script>

  <!-- Entry Point -->
  <script type="text/javascript">
    app.scope = new app.Scope();
    app.visualizations = new app.Visualizations();
    new app.NavMainView({ el: $('#nav-main-container') }).render();
    new app.FooterView({ el: $('#site-footer') }).render();
    app.router = new app.Router();
    Backbone.history.start({ pushState: true, root: "/wmarchive/web/" });
  </script>

</body>
</html>
