<!DOCTYPE html>
<html>
<head>
    <title>WMArchive data-service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/wmarchive/web/static/js/utils.js"></script>
    <link rel="stylesheet" type="text/css" href="/wmarchive/web/static/css/kube.min.css" />
    <link rel="stylesheet" type="text/css" href="/wmarchive/web/static/css/main.css" />
</head>
<body class="kubepage" onload="loadContent()">

<div class="main-font" id="content"></div>

</body>
</html>
