<!DOCTYPE html>
<html>
<head>
    <title>WMArchive data-service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- do not include http in src for jquery since it leads to mixing content, http://bit.ly/1VOjhSu -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="/wmarchive/web/static/js/utils.js"></script>
    <link rel="stylesheet" type="text/css" href="/wmarchive/web/static/css/kube.min.css" />
    <link rel="stylesheet" type="text/css" href="/wmarchive/web/static/css/main.css" />
    <link rel="icon" href="data:;base64,=">
</head>
<body class="kubepage" onload="loadContent()">

<div class="main-font" id="main-content"></div>

</body>
</html>
